body {
  font-family: Roboto, sans-serif;
  	background-image: url(https://i.pinimg.com/originals/28/79/ac/2879accc54c1b22f91f97d7d650ae43f.jpg);

}
h1 {
	text-align: center;
	padding: 0 500px;
    margin-left: 80px;
    font-family: Roboto, sans-serif;
}


nav {
	border: 5px solid #2d508f;
	  overflow: visible;
  width: 30%;
  text-align: center;
  margin-left: 520px;
  font-family: roboto, Impact;
  border-radius: 5%;
}
img {
	height: 100px;
	width: 100px;
	display:block;
margin:auto;
border-radius: 5%;
}


a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}
a:hover {
  color:#00FFFF ;
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}



.contacts {
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
	border: 5px solid #2d508f;
	  overflow: visible;
  width: 30%;
  text-align: center;
  margin-left: 520px;
  font-family: roboto, Impact;
  border-radius: 5%;
}





footer {
  margin-top: 30px;
}


.wrapper
{
	display: flex;
	justify-content: center;

}

.title 
{
width: 25ch;
color: black;
font-family: monospace;
font-size: 40px;
white-space: nowrap;
overflow: hidden;
border-right: 4px solid orange;
animation: flashing-border 0.75s step-end infinite,
printed-text 5s steps(25);
}

@keyframes flashing-border {
	0%{
		border-color: orange;
	}
	50% {
		border-color: transparent;
	}
	100% {
		border-color: orange;
}
}

@keyframes printed-text {
	from {
		width: 0;
	}
}

.avatar
 {
 display: block;

   margin-left: 700px;
	border-radius: 10%;
	width: 150px;
	height: 150px;
}

.avatar:hover {
   border: 3px solid #413f3f;
}

button {
	margin-left: 720px;
	margin-top: 10px;
}



.mask {
	margin-left: 45em;
    margin-right: auto;
    
    --uiMaskClipPath: var(--maskClipPath);
    box-sizing: var(--maskBoxSizing, border-box);
    display: var(--maskDisplay, inline-flex);
    padding: var(--maskStrokeThickness, 3px);
    clip-path: var(--uiMaskClipPath);
    background-color: var(--maskStrokeColor, currentColor);
    --maskStrokeColor: #ab7445; 
    --maskStrokeThickness: 5px; 
}
.mask-img{
	
    max-width: 100%;
    display: block;
    clip-path: var(--uiMaskClipPath);
}
.mask, 
.mask-img{
    transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
}

.mask-four{
    --maskClipPath: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.mask-four:hover, 
.mask-four:focus{
    --maskClipPath: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

